<section class="sidebar">
  <div class="sidebar__header">
    <img src="../../../assets/avatar1.png" mat-card-avatar alt="avatar">
    <div class="sidebar__header__icons">
      <button mat-icon-button>
        <mat-icon>donut_large</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>chat</mat-icon>
      </button>
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </div>
  </div>

<!--  Sidebar-->

  <div class="sidebar__search">
    <div class="sidebar__search__content">
      <form #form='ngForm' (ngSubmit)="onFormSubmit(form)">
        <button mat-icon-button class="sidebar__search__content__icon">
          <mat-icon>search_outline</mat-icon>
        </button>
        <input type="text"
               class="sidebar__search__content__input"
               name="search" ngModel=""
               placeholder="Search or start new chat">
        <button type="submit" style="display: none"></button>
      </form>
    </div>
  </div>

  <div class="sidebar__content">
    <ng-container *ngFor="let r of roomData; let i = index">
      <app-sidebar-content [roomData]="r" [randomSeed]="randomSeed[i]" (seedValue)="seedData($event)"></app-sidebar-content>
    </ng-container>
  </div>
</section>
